<!--&lt;!&ndash; BEGIN: Subheader &ndash;&gt;-->
<!--<div class="m-subheader">-->
    <!--<div class="d-flex align-items-center">-->
        <!--<div class="mr-auto">-->
            <!--<h3 class="m-subheader__title">-->
                <!--机构管理-->
            <!--</h3>-->
            <!--<ul class="m-subheader__breadcrumbs m-nav m-nav&#45;&#45;inline">-->
                <!--<li class="m-nav__item m-nav__item&#45;&#45;home">-->
                    <!--<a href="#" class="m-nav__link m-nav__link&#45;&#45;icon">-->
                        <!--<i class="m-nav__link-icon la la-home"></i>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; END: Subheader &ndash;&gt;-->


<!--<div class="m-content">-->
    <!--&lt;!&ndash;begin::Portlet&ndash;&gt;-->
    <!--<div class="m-portlet">-->
        <!--<div class="m-portlet__head">-->
            <!--<div class="m-portlet__head-caption">-->
                <!--<div class="m-portlet__head-title">-->
                    <!--<h3 class="m-portlet__head-text">-->
                        <!--{{org.id==""? "添加":"修改"}}机构-->
                        <!--<small>-->
                            <!--数据表单-->
                        <!--</small>-->
                    <!--</h3>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="m-portlet__head-tools">-->
                <!--<a href="#/sys/org/list" title="机构列表" class="m-portlet__nav-link btn list btn-lg btn-outline-primary m-btn m-btn&#45;&#45;outline-1x m-btn&#45;&#45;air m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill ">-->
                    <!--<i class="la la-th-list"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;begin::Form&ndash;&gt;-->
        <!--<form class="m-form m-form&#45;&#45;fit m-form&#45;&#45;label-align-right form-validation" action="{{ctx}}/sys/org/" method="post" id="org-save-form">-->
            <!--<input type="hidden" name="id" value="{{org.id}}" />-->
            <!--<div class="m-portlet__body">-->
                <!--<div class="m-form__content bootstrap-alerts">-->

                <!--</div>-->
                <!--<div class="form-group m-form__group row">-->
                    <!--<label class="col-form-label col-lg-3 col-sm-12">-->
                        <!--上级组织 *-->
                    <!--</label>-->
                    <!--<div class="col-lg-4 col-md-9 col-sm-12">-->
                        <!--<alb-tree-select id="org"-->
                             <!--cssClass="required" allowClear="true" name="parentId"-->
                             <!--value="{{org.parentId}}" labelName="parentName"-->
                             <!--labelValue="{{org.parentName}}" title="上级组织"-->
                             <!--url="{{ctx}}/sys/org/findTreeData" ></alb-tree-select>-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group m-form__group row">-->
                    <!--<label class="col-form-label col-lg-3 col-sm-12">-->
                        <!--名称 *-->
                    <!--</label>-->
                    <!--<div class="col-lg-4 col-md-9 col-sm-12">-->
                        <!--<input type="text" name="name" value="{{org.name}}"-->
                               <!--maxlength="64" class="form-control required"/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group m-form__group row">-->
                    <!--<label class="col-form-label col-lg-3 col-sm-12">-->
                        <!--编码 *-->
                    <!--</label>-->
                    <!--<div class="col-lg-4 col-md-9 col-sm-12">-->
                        <!--<input type="text" name="code" value="{{org.code}}"-->
                               <!--maxlength="64" class="form-control required"/>-->
                        <!--<span class="m-form__help">-->
							<!--唯一-->
						<!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group m-form__group row">-->
                    <!--<label class="col-form-label col-lg-3 col-sm-12">-->
                        <!--类型 *-->
                    <!--</label>-->
                    <!--<div class="col-lg-4 col-md-9 col-sm-12">-->
                        <!--<alb-form boxType="radio"-->
                                  <!--id="type"-->
                                  <!--name="type"-->
                                  <!--dictCode="sys_org_type"-->
                                  <!--value="{{org.type}}" cssClass="required">-->
                        <!--</alb-form>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group m-form__group row">-->
                    <!--<label class="col-form-label col-lg-3 col-sm-12">-->
                        <!--等级 *-->
                    <!--</label>-->
                    <!--<div class="col-lg-4 col-md-9 col-sm-12">-->
                        <!--<alb-form boxType="select"-->
                                  <!--id="grade"-->
                                  <!--name="grade"-->
                                  <!--dictCode="sys_org_grade"-->
                                  <!--value="{{org.type}}" cssClass="required">-->
                        <!--</alb-form>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group m-form__group row">-->
                    <!--<label class="col-form-label col-lg-3 col-sm-12">-->
                        <!--序号 *-->
                    <!--</label>-->
                    <!--<div class="col-lg-4 col-md-9 col-sm-12">-->
                        <!--<input type="text" name="sort" value="{{org.sort}}"-->
                               <!--maxlength="11" class="form-control digits"/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group m-form__group row">-->
                    <!--<label class="col-form-label col-lg-3 col-sm-12">-->
                        <!--状态 *-->
                    <!--</label>-->
                    <!--<div class="col-lg-4 col-md-9 col-sm-12">-->
                        <!--<alb-form boxType="radio"-->
                                  <!--id="status"-->
                                  <!--name="status"-->
                                  <!--dictCode="sys_status"-->
                                  <!--value="{{org.status}}" cssClass="required">-->
                        <!--</alb-form>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group m-form__group row">-->
                    <!--<label class="col-form-label col-lg-3 col-sm-12">-->
                        <!--描述-->
                    <!--</label>-->
                    <!--<div class="col-lg-9 col-md-9 col-sm-12">-->
                         <!--<textarea class="summernote form-control" name="description"-->
                                   <!--rows="5">{{org.description}}</textarea>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="m-portlet__foot m-portlet__foot&#45;&#45;fit">-->
                <!--<div class="m-form__actions m-form__actions">-->
                    <!--<div class="row">-->
                        <!--<div class="col-lg-9 ml-lg-auto">-->
                            <!--<button type="button" class="btn btn-success save">-->
                                <!--<i class="fa fa-check"></i> 保存-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-secondary" onclick="albedoForm.resetForm('#org-save-form')">-->
                                <!--重置-->
                            <!--</button>-->
                            <!--<button type="button" class="btn" onclick="window.history.back()">返回</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
        <!--&lt;!&ndash;end::Form&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;end::Portlet&ndash;&gt;-->
<!--</div>-->
