<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div  id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>Z
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    Angular
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                <a  routerLink="/angular/ng-bootstrap" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-settings"></i>
                    <span class="m-menu__link-text">
						Ng-Bootstrap
					</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
                <a  href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-settings"></i>
                    <span class="m-menu__link-text">
						PrimeNG
					</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                            <a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									PrimeNG
								</span>
                            </a>
                        </li>
                        <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                            <a  routerLink="/angular/primeng/input" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
									Input
								</span>
                            </a>
                        </li>
                        <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                            <a  routerLink="/angular/primeng/button" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
									Button
								</span>
                            </a>
                        </li>
                        <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                            <a  routerLink="/angular/primeng/panel" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
									Panel
								</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li *ngFor="let menuParent of menusData;"
                class="{{menuParent.menuTop && menuParent.url=='' ? 'm-menu__section':'m-menu__item'}}
                        {{!menuParent.menuTop && !menuParent.menuLeaf ? 'm-menu__item--submenu' : ''}}"
                [attr.routerLinkActive]="!(menuParent.menuTop && menuParent.url=='') ? 'm-menu__item--active' : ''"
                [attr.routerLinkActiveOptions]="!(menuParent.menuTop && menuParent.url=='') ? '{ exact: true }' : ''"
                [attr.aria-haspopup]="!(!(menuParent.menuTop && menuParent.url==''))? 'true' : ''"
                [attr.data-menu-submenu-toggle]="!menuParent.menuTop && !menuParent.menuLeaf ? 'hover' : ''"
            >
                <h4 *ngIf="menuParent.menuTop && menuParent.url==''" class="m-menu__section-text">
                    {{menuParent.name}}
                </h4>
                <i *ngIf="menuParent.menuTop && menuParent.url==''" class="m-menu__section-icon flaticon-more-v3"></i>

                <a *ngIf="menuParent.url!='' && menuParent.menuLeaf"
                   routerLink="{{menuParent.url}}" class="m-menu__link">
                    <i class="m-menu__link-icon {{menuParent.iconCls}}"></i>
                    <span class="m-menu__link-text">
                        {{menuParent.name}}
                    </span>
                </a>
                <a *ngIf="!menuParent.menuTop && !menuParent.menuLeaf" href="#"
                   class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                        <span></span>
                    </i>
                    <span class="m-menu__link-text">
									{{menuParent.name}}
								</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div *ngIf="menuParent.childMenus!=null" class="m-menu__submenu">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li *ngFor="let menu of menuParent.childMenus;" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                            <a  routerLink="{{menu.url}}" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
									{{menu.name}}
								</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </li>

        </ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
