<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                测试书籍管理
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">

	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						数据列表
					</h3>
				</div>
			</div>
            <div class="m-portlet__head-tools">
                <a *ngIf="this.principal.hasAnyAuthorityDirectOne('test_testBook_edit') "href="javascript:void(0)" data-modal-id="#testBook-edit-modal" title="添加测试书籍" class="m-portlet__nav-link btn btn-lg btn-outline-primary m-btn m-btn--outline-1x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill dialog-add">
                    <i class="la la-plus"></i>
                </a>
            </div>
		</div>
		<div class="m-portlet__body">
			<!--begin: Search Form -->
			<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30 search-form" id="testBook-search-form">
				<div class="row align-items-center">
					<div class="col-xl-8 order-2 order-xl-1">
						<div class="form-group m-form__group row align-items-center">
						    <div class="col-md-3 m--margin-bottom-20">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label class="m-label m-label--single">
                                            标题
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <input type="text" class="form-control m-input" searchItem="searchItem" id="title" name="title" operate="like" htmlEscape="false" maxlength="32" placeholder="..." />
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
							</div>
						    <div class="col-md-3 m--margin-bottom-20">
                                <div class="m-form__group m-form__group--inline">
                                    <div class="m-form__label">
                                        <label class="m-label m-label--single">
                                            名称
                                        </label>
                                    </div>
                                    <div class="m-form__control">
                                        <input type="text" class="form-control m-input" searchItem="searchItem" id="name" name="name" operate="like" htmlEscape="false" maxlength="50" placeholder="..." />
                                    </div>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <button id="table-form-search-testBook" class="btn m-btn--pill m-btn--air btn-primary btn-sm m-btn m-btn--custom search-form-btn filter-submit-table-testBook" type="button">
                            查询
                        </button>
						<div class="m-separator m-separator--dashed d-xl-none"></div>
					</div>
				</div>
			</div>
			<!--end: Search Form -->  		<!--begin: Datatable -->
			<div class="m_datatable" id="data-table-testBook"></div>
			<!--end: Datatable -->
		</div>
	</div>
</div>
<!--begin::Modal-->
    <div id="testBook-edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                       添加组织
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-max-height="500">
                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right form-validation" action="{{ctx}}/test/testBook/" method="post" id="testBook-save-form" config="{
            rules:{
				email: {remote: albedo.getCtx()+'/test/testBook/checkByProperty?id=' + encodeURIComponent(albedo.toStr($('#testBook-save-form').find('#id').val()))},
                        },
                        messages:{
                        email: {remote: '邮箱已存在'},
                        }
                        }">
                        <input type="hidden" name="id" id="id" value="{{testBook.id}}" />
                        <div class="m-portlet__body">
                            <div class="m-form__content bootstrap-alerts">

                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-2 col-sm-12">
                                    标题
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <input type="text" name="title" id="title" class="form-control" value="{{testBook.title}}" htmlEscape="false" maxlength="32" />
                                <span class="m-form__help">

                                </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-2 col-sm-12">
                                    作者 *
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <input type="text" name="author" id="author" class="form-control required" value="{{testBook.author}}" htmlEscape="false" maxlength="50" />
                                <span class="m-form__help">

                                </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-2 col-sm-12">
                                    名称
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <input type="text" name="name" id="name" class="form-control" value="{{testBook.name}}" htmlEscape="false" maxlength="50" />
                                <span class="m-form__help">

                                </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-2 col-sm-12">
                                    邮箱
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <input type="text" name="email" id="email" class="form-control" value="{{testBook.email}}" htmlEscape="false" maxlength="100" />
                                <span class="m-form__help">

                                </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-2 col-sm-12">
                                    手机
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <input type="text" name="phone" id="phone" class="form-control" value="{{testBook.phone}}" htmlEscape="false" maxlength="32" />
                                <span class="m-form__help">

                                </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-2 col-sm-12">
                                    activated_ *
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <input type="text" name="activated" id="activated" class="form-control required digits" value="{{testBook.activated}}" htmlEscape="false" maxlength="1" />
                                <span class="m-form__help">
                                    标注
                                </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-2 col-sm-12">
                                    key
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <input type="text" name="langKey" id="langKey" class="form-control" value="{{testBook.langKey}}" htmlEscape="false" maxlength="5" />
                                <span class="m-form__help">
                                    建
                                </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-2 col-sm-12">
                                    activation_key
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <input type="text" name="activationKey" id="activationKey" class="form-control" value="{{testBook.activationKey}}" htmlEscape="false" maxlength="20" />
                                <span class="m-form__help">

                                </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-2 col-sm-12">
                                    reset_key
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <input type="text" name="resetKey" id="resetKey" class="form-control" value="{{testBook.resetKey}}" htmlEscape="false" maxlength="20" />
                                <span class="m-form__help">

                                </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-2 col-sm-12">
                                    reset_date
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <div class="input-group date m_datetimepicker" >
                                        <input class="form-control m-input" name="resetDate" readonly value="{{testBook.resetDate | date:'yyyy-MM-dd hh:mm:ss'}}" type="text" />
                                        <span class="input-group-addon">
                                            <i class="la la-calendar-check-o glyphicon-th"></i>
                                        </span>
                                    </div>
                                <span class="m-form__help">

                                </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-2 col-sm-12">
                                    description_
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <textarea name="description" rows="5" maxlength="255" class="form-control input-xxlarge ">{{testBook.description }}</textarea>
                                <span class="m-form__help">

                                </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="albedoForm.resetForm('#testBook-save-form')">
                        重置
                    </button>
                    <button type="button" class="btn btn-primary save" data-is-modal="true" data-table-id="#data-table-testBook">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end::Modal-->
