<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.albedo.java.modules.sys.domain.User">

    <resultMap id="UserMap" type="com.albedo.java.modules.sys.domain.User">
        <id property="id" column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="activated" column="activated" javaType="boolean" jdbcType="BIT"/>
        <result property="activationKey" column="activationKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createdBy" column="createdBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createdDate" column="createdDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="email" column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="loginId" column="loginId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="langKey" column="langKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="lastModifiedBy" column="lastModifiedBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="lastModifiedDate" column="lastModifiedDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="orgId" column="orgId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="password" column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="resetKey" column="resetKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="resetDate" column="resetDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="version" column="version" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <association column="org" property="org" select="com.albedo.java.modules.sys.repository.OrgRepository.selectById"/>
    </resultMap>
    <sql id="pageUserColumn">
        `user`.id_ AS `id`,
        `user`.activated_ AS `activated`,
        `user`.activation_key AS `activationKey`,
        `user`.created_by AS `createdBy`,
        `user`.created_date AS `createdDate`,
        `user`.description_ AS `description`,
        `user`.email_ AS `email`,
        `user`.login_id AS `loginId`,
        `user`.lang_key AS `langKey`,
        `user`.last_modified_by AS `lastModifiedBy`,
        `user`.last_modified_date AS `lastModifiedDate`,
        `user`.name_ AS `name`,
        `user`.org_id AS `orgId`,
        `user`.password_hash AS `password`,
        `user`.phone_ AS `phone`,
        `user`.reset_key AS `resetKey`,
        `user`.reset_date AS `resetDate`,
        `user`.status_ AS `status`,
        `user`.version_ AS `version`,
    </sql>

    <!-- userVo结果集 -->
    <resultMap id="userRelationResultMap" type="com.albedo.java.modules.sys.domain.User">
        <id property="id" column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="activated" column="activated" javaType="boolean" jdbcType="BIT"/>
        <result property="activationKey" column="activationKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createdBy" column="createdBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createdDate" column="createdDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="email" column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="loginId" column="loginId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="langKey" column="langKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="lastModifiedBy" column="lastModifiedBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="lastModifiedDate" column="lastModifiedDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="orgId" column="orgId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="password" column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="resetKey" column="resetKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="resetDate" column="resetDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="version" column="version" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <association column="org" property="org" select="com.albedo.java.modules.sys.repository.OrgRepository.selectById"/>
        <collection property="roles" ofType="com.albedo.java.modules.sys.domain.Role">
            <id property="id" column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="createdBy" column="createdBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="createdDate" column="createdDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <result property="dataScope" column="dataScope" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <result property="description" column="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="en" column="en" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="lastModifiedBy" column="lastModifiedBy" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="lastModifiedDate" column="lastModifiedDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="orgId" column="orgId" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="sysData" column="sysData" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <result property="sort" column="sort" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <result property="status" column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <result property="type" column="type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <result property="version" column="version" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <sql id="selectUserRelation">
        SELECT
        <include refid="pageUserColumn"/>
        <include refid="pageRoleColumn"/>
        FROM
        sys_user_t AS `user`
        LEFT JOIN sys_user_role_t AS ur ON ur.user_id = `user`.user_id
        LEFT JOIN sys_role_t AS `role` ON `role`.role_id = ur.role_id
    </sql>
    <select id="selectUserByLoginId" resultMap="userRelationResultMap">
        <include refid="pageUserColumn"/> where `user`.loginId=#{loginId}
    </select>
    <select id="addUserRoles" parameterType="com.albedo.java.modules.sys.domain.User">
        insert into sys_user_role_t (user_id,role_id)
        values
        <foreach collection="user.roleIdList" item="item" separator=",">
            (#{user.id},#{item})
        </foreach>
    </select>

    <select id="deleteUserRoles" parameterType="com.albedo.java.modules.sys.domain.User">
        DELETE FROM sys_user_role_t where user_id=#{user.id}
    </select>

</mapper>
